<!DOCTYPE html >
<!--[if lt IE 7 ]> <html lang="pt-br" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="pt-br" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="pt-br" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="pt-br" class="no-js ie9"> <![endif]-->
<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="pt-br">
<head>
    <meta charset="utf-8">
    
    <!-- Behavioral Meta Data -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>_stq</title>
 
    <!-- Core Meta Data -->
    <meta name="author" content="stq">  
    <meta name="description" content="stq.">
    <meta name="keywords" content="site, responsive, one page, portfolio, parallax, template, html5">

    <!-- Open Graph Meta Data -->  
    <meta property="og:description" content="stq.">
    <meta property="og:image" content="http://www.stqpublicidade.com.br/preview_image.png">
    <meta property="og:site_name" content="stq">
    <meta property="og:title" content="stq">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.stqpublicidade.com.br/>

    <!-- Twitter Card Meta Data -->  
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@stq">
    <meta name="twitter:creator" content="@stq">
    <meta name="twitter:title" content="stq">
    <meta name="twitter:description" content="stq.">
    <meta name="twitter:image" content="http://www.stqpublicidade.com.br/preview_image.png">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
	<body>
		<section id="body" class="show-logo" data-path="/">
				<div class="">
				    <h1 class="visually-hidden">
				      stq teste
				    </h1> 
					<div id="header" class="">
						    <div id="cd-nav" class="cd-nav">
						      <div class="cd-navigation-wrapper">
						        <div class="row small-margin-top">

						        <div class="contact">
						            <h1 class="h1 titulo text-align-left">
						             <span class="stq">stq</span> <br>
						              <ul class="Bad">
						              	<li><strong>_Branding</strong></li>
						              	<li><strong>_Advertising</strong></li>
						              	<li><strong>_Digital</strong></li>
						              </ul>
						            </h1>

						            <div class="visually-hidden" vocab="http://schema.org/" typeof="Organization">

						              <span class="visually-hidden" property="name">_</span>
						              <span class="visually-hidden" property="telephone">+55 11 2337 2341</span>
						              <span class="visually-hidden" property="email">contato@stqpublicidade.com.br</span>
						              <span class="visually-hidden" property="url">http://www.stqpublicidade.com.br</span>
						              
						              <address class="visually-hidden" property="address" typeof="PostalAddress">
						                <span property="streetAddress">rua gomes de carvalho, 921</span>
						                <span property="postalCode">4053</span>
						                <span property="addressLocality">são paulo, sp</span>
						              </address>

						            </div>
						            <ul class="contact-data">

						              <li>
						                
						    
										<a href="mailto:contato@stqpublicidade.com.br">
										    contato@stqpublicidade.com.br
										</a>
						              </li>
						              <li><a href="tel:+551123372341">+55 11 2337 2341</a>
						              </li>
						              <li>
						                <a href="https://goo.gl/wSEidu" target="_blank">
						                 <!--  <Address /> -->
						                     <div>
									     <br>
									          <p>rua gomes de carvalho, 921</p>
									          <p>5º andar</p>
									          <p> são paulo, sp</p>
									       </div>
						                </a>
						              </li>
						            </ul>
						           
						         
						        </div>						          
						        <nav class="menu" role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
						          
						            	<ul>
						                     <li>
						                      <a itemprop="url" href="#" class="">
						                        <h1 class="titulo text-align-left" itemprop="name">
					                          		_home
						                        </h1>
						                      </a>
						                    </li>
						                     <li>
						                      <a itemprop="url" href="#travessia" class="">
						                        <h1 class="titulo text-align-left" itemprop="name">
						                          _trabalhos
						                        </h1>
						                      </a>
						                    </li>
						                     <li>
						                      <a itemprop="url" href="#travessia" class="">
						                        <h1 class="titulo text-align-left" itemprop="name">
						                          _contato 
						                        </h1>
						                      </a>
						                    </li>
						                   	<li>
							                      <ul class="social">
								                      	<li> 
								                      		<a itemprop="url" href="#" class="">
										                        <h1 class="titulo text-align-left" itemprop="name" style="font-size: 1em;">
										                         	<i class="fa fa-facebook-official"></i>
										                        </h1>
								                      		</a>
								                      	</li>
								                      	<li> 
									                      	<a itemprop="url" href="#" class="">
										                        <h1 class="titulo text-align-left" itemprop="name" style="font-size: 1em;">
										                         	<i class="fa fa-youtube"></i>
										                        </h1>
										                    </a>
									                    </li>
							                      </ul>
						                    </li> 
						              </ul>
						          </nav>
						          
						        </div>

						      </div>
						    </div>
						 <!-- <Hamburger/> -->
						   <div class="header-handles-container">
						      <div class="handles-content">
						        <a href="#cd-nav" 
						           class="cd-nav-trigger triggered">
						          <span class="visually-hidden">
						            Menu
						          </span>
						          	<svg width="50px" height="56px" 
						          		xlinkHref="http://www.w3.org/1999/xlink" 
						          		version="1.1" id="Hexagon" x="0px" y="0px" 
						          		viewBox="0 0 48 54" xmlSpace="preserve" 
						          		enableBackground="new 0 0 48 54">      
						          	</svg>
						          <span class="cd-nav-icon"></span>
						        </a>
						      </div>
						</div>
<!-- logo -->
				   <div class="header-handles-logo">
				      <div class="handles-logo">
				        <a class="brand-logo" href="/">
				          <i class="icon-wondrous-w-flat"></i>
				          <span class="visually-hidden">stq</span>
				        </a>
				      </div>
				    </div>
					</div>

				   	<div id="app"></div>
				</div>
			</section>

	</body>
<script>
  window.INITIAL_STATE = {{{toJSON initialState}}};
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/bundle.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
<script src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script>
	jQuery(document).ready(function(a) {
	        function b() {
	            $body = a("section#body"), e = a(window), e.scrollTop() < 50 ? ($body.addClass("show-logo"), 
	            $body.removeClass("dont-show-logo")) : $body.hasClass("navigation-is-open") || ($body.removeClass("show-logo"), 
	            $body.addClass("dont-show-logo"))
	        }
	        var c = !1,
	            d = a(".cd-nav-trigger"),
	            e = a(window);
	        return d.on("click", function(b) {
	            d.find("span").each(function() {
	                a(this).hasClass("visually-hidden")
	            }), b.preventDefault(), c || (a(this).parents(".csstransitions").length > 0 && (c = !0), $body = a("section#body"), $body.toggleClass("navigation-is-open"), a(document).one("keydown", function(a) {
	                27 === a.keyCode && $body.hasClass("navigation-is-open") && $body.toggleClass("navigation-is-open")
	            }), a(".cd-navigation-wrapper").one("webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend", function() {
	                c = !1
	            }))
	        }), b(), e.scroll(function() {
	            b()
	        }), a("mood-area").length ? void e.scroll(function() {
	            return e.scrollTop() > 200 ? void d.addClass("triggered") : void d.removeClass("triggered")
	        }) : void d.addClass("triggered")
	    })
</script>
</body>
</html>
